/* src/styles/Home.css */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    text-align: center;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #21a1f1;
}
