.home {
    background-color: #282c34;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.home h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.home p {
    font-size: 1.5rem;
}

.profile-pic {
    width: 150px;  /* Adjust size as needed */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 30px;
}
